<h1>Please verify yourself (plain)</h1>

<%=form_tag(welcome_submit_path) do %>
    <%= recaptcha_tags %>
    <%= submit_tag "Verify", class: 'btn btn-success' %>
<% end %>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback" async defer></script>
